{% comment %}
    Renders a product COLOR VARIATION using the product-card

    Accepts:
    - product_card_product: {Object} Product Liquid object (optional)
    - media_size: {String} Size of the product image card. Values are "square" and "portrait". Default is "square" (optional)
    - show_secondary_image: {Boolean} Show the secondary image on hover. Default: false (optional)
    - add_image_padding: {Boolean} Enables padding on the image to space out the grid
    - show_vendor: {Boolean} Show the product vendor. Default: false
    - show_image_outline: {Boolean} Show card outline. Default: true (optional)

    Usage:
    {% render 'product-color-variation', show_vendor: section.settings.show_vendor %}

    {% render 'product-color-variation', 
    product_card_product: product, 
    media_size: section.settings.image_ratio, 
    show_secondary_image: section.settings.show_secondary_image, 
    add_image_padding: section.settings.add_image_padding, 
    show_vendor: section.settings.show_vendor, 
    show_image_outline: section.settings.show_image_outline 
    %}

{% endcomment %}



{%- for temp_colection in product_card_product.collections -%}
  {% unless temp_colection.handle contains "colores" or temp_colection.handle contains "descuentos" %}
    {% assign main_collection = temp_colection %}
    {% break %} // This will work
  {% endunless %}
{% endfor%}

<h3> variaciones de color </h3>

<div id="products-wrapper" class="row">
{%- for product in main_collection.products -%}
  {% if product.variants.first.sku == product_card_product.variants.first.sku and product != product_card_product %}
    <div class="col xs12 s12 m6 l4 xl3">
      {% render 'product-card', product_card_product: product, add_image_padding: true, show_vendor: false %}
    </div>
  {% endif %}
{%- endfor -%}
</div>
