{%- for block in section.blocks -%}
  {%- case block.type -%}
    {%- when 'announcement' -%}
      <div class="announcement-bar" role="region" aria-label="{{ 'sections.header.announcement' | t }}" {{ block.shopify_attributes }}>
        {%- if block.settings.heading != blank -%}
          {%- if block.settings.link != blank -%}
            <a href="{{ block.settings.link }}" class="announcement-bar__link link link--text focus-inset animate-arrow">
          {%- endif -%}
              <p class="announcement-bar__message h8">
                {{ block.settings.heading | escape }}
                {%- if block.settings.link != blank -%}
                  {% render 'icon-arrow' %}
                {%- endif -%}
              </p>
          {%- if block.settings.link != blank -%}
            </a>
          {%- endif -%}
        {%- endif -%}
      </div>
  {%- endcase -%}
{%- endfor -%}

{% schema %}
{
  "name": "t:sections.announcement-bar.name",
  "max_blocks": 12,
  "blocks": [
    {
      "type": "announcement",
      "name": "t:sections.announcement-bar.blocks.announcement.name",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "default": "Envíos gratis en Cali | Envíos Nacionales gratis a partir de compras superiores a $100.000 | Envíos por REEXPEDICIÓN Gratis por compras superiores a $300.000.",
          "label": "t:sections.announcement-bar.blocks.announcement.settings.text.label"
        },
        {
          "type": "select",
          "id": "color_scheme",
          "options": [
            {
              "value": "dark-blue",
              "label": "t:sections.announcement-bar.blocks.announcement.settings.color_scheme.options__1.label"
            },
            {
              "value": "pink",
              "label": "t:sections.announcement-bar.blocks.announcement.settings.color_scheme.options__2.label"
            },
            {
              "value": "pink-light",
              "label": "t:sections.announcement-bar.blocks.announcement.settings.color_scheme.options__3.label"
            },
            {
              "value": "pink-dark",
              "label": "t:sections.announcement-bar.blocks.announcement.settings.color_scheme.options__4.label"
            },
            {
              "value": "gray",
              "label": "t:sections.announcement-bar.blocks.announcement.settings.color_scheme.options__5.label"
            },
            {
              "value": "gray-light",
              "label": "t:sections.announcement-bar.blocks.announcement.settings.color_scheme.options__6.label"
            },
            {
              "value": "ocean-green",
              "label": "t:sections.announcement-bar.blocks.announcement.settings.color_scheme.options__7.label"
            },
            {
              "value": "white",
              "label": "t:sections.announcement-bar.blocks.announcement.settings.color_scheme.options__8.label"
            },
            {
              "value": "black",
              "label": "t:sections.announcement-bar.blocks.announcement.settings.color_scheme.options__9.label"
            }
          ],
          "default": "dark-blue",
          "label": "t:sections.announcement-bar.blocks.announcement.settings.color_scheme.label"
        },
        {
          "type": "url",
          "id": "link",
          "label": "t:sections.announcement-bar.blocks.announcement.settings.link.label"
        }
      ]
    }
  ],
  "default": {
    "blocks": [
      {
        "type": "announcement"
      }
    ]
  }
}
{% endschema %}
