{{ 'component-collection-breadcrumb.css' | asset_url | stylesheet_tag }}

<div id="breadcrumb-wrapper">
  <a class="breadcrumb" href="https://passarostore.myshopify.com/collections">colecciones</a> 
  <i class="fas fa-sort-down breadcrumb-arrow"></i>
  <span class="breadcrumb">{{- collection.title | escape -}}</span>
</div>