
<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.css" />
<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />

<script src="https://unpkg.com/swiper/swiper-bundle.js"></script>
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

{{ 'section-collection.slider.css' | asset_url | stylesheet_tag }}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}



<!-- Slider main container -->
<div class="swiper-container">
  <!-- Additional required wrapper -->
  <div class="swiper-wrapper">

    <!-- Slides -->
    {% for collection in collections %}
      <!-- collection info -->
      <div class="swiper-slide">
        <a {% if collection.all_products_count > 0 %} href="{{ collection.url }}"{% endif %}  class="">
        
      
      </div>


    {% endfor %}
    

    
  </div>
  <!-- If we need pagination -->
  <div class="swiper-pagination"></div>

  <!-- If we need navigation buttons -->
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>

  <!-- If we need scrollbar -->
  <div class="swiper-scrollbar"></div>

</div>
