
{{ 'section-collection.slider.css' | asset_url | stylesheet_tag }}

{% stylesheet %}
.swiper-container {
  height: 800px;
}
.mas-arribita{
bottom: -20px;
}
{% endstylesheet %}


<h2>Collecciones</h2>

<!-- Slider main container -->
<div class="swiper-container">
  <!-- Additional required wrapper -->
  <div class="swiper-wrapper">

    <!-- Slides -->
    {% assign mas_arribita = false %}
    {% for collection in collections %}

      <!-- collection info -->
      <div class="swiper-slide {% if mas_arribita %}mas-arribita{% endif %}" >
        {% if collection.image %}
          {{ collection.image | img_url: '650x650' | img_tag: collection.image.alt }}
        {% else %}
          {% assign alt = collection.title | escape %}
          {{ collection.products.first.image | img_url: '650x650' | img_tag: alt }}
        {% endif %}
      </div>

      {% if mas_arribita != true %}
        {% assign mas_arribita = true %}
      {%else%}
        {% assign mas_arribita = false %}
      {% endif %}

    {% endfor %}
    

    
  </div>
  <!-- If we need pagination -->
  <div class="swiper-pagination"></div>

  <!-- If we need navigation buttons -->
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>

  <!-- If we need scrollbar -->
  <div class="swiper-scrollbar"></div>

</div>




{% javascript %}
const swiper = new Swiper('.swiper-container', 
{
  // Optional parameters
  loop: true,
  slidesPerView: 1,
  slidesPerGroup: 1,
  spaceBetween: 30,
  loopFillGroupWithBlank: false,
  navigation: {
    nextEl: ".swiper-button-next",
    prevEl: ".swiper-button-prev",
  },
  breakpoints: {
    750: {
      slidesPerView: 2,
      slidesPerGroup: 2,
      spaceBetween: 20,
    },
    1024: {
      slidesPerView: 3,
      slidesPerGroup: 3,
      spaceBetween: 30,
    },

  },
});
{% endjavascript %}