
{{ 'section-collection-slider.css' | asset_url | stylesheet_tag }}

{% stylesheet %}

{% endstylesheet %}


<section id="collection-slider">
  <!-- Slider main container -->
  <div class="swiper-container">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
      <!-- Slides -->
      {% assign mas_abajito = false %}
      {% assign collection_to_show = 3 %}
      {% for collection in collections %}

        <!-- collection info -->
        <div class="swiper-slide {% if mas_abajito == false %}mas-abajito{% endif %}" >

          <div class="title-container">
            <div class="titulo">
              {{collection.title}}
            </div>
            <a href="#">COMPRAR</a>
          </div>

          {% if collection.image %}
            {{ collection.image | img_url: '400x600' | img_tag: collection.image.alt }}
          {% else %}
            {% assign alt = collection.title | escape %}
            {{ collection.products.first.image | img_url: '400x600' | img_tag: alt }}
          {% endif %}

        </div>

        {% if mas_abajito == false %}
          {% assign mas_abajito = true %}
        {%else%}
          {% assign mas_abajito = false %}
        {% endif %}

      {% endfor %}   
    </div>

  </div>

  <!-- If we need navigation buttons -->
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>
</section>

{% javascript %}
const swiper = new Swiper('.swiper-container', 
{
  // Optional parameters
  loop: true,
  slidesPerView: 1,
  slidesPerGroup: 1,
  spaceBetween: 50,

  
  loopFillGroupWithBlank: true,
  navigation: {
    nextEl: ".swiper-button-next",
    prevEl: ".swiper-button-prev",
  },
  scrollbar: {
    el: ".swiper-scrollbar",
    hide: true,
  },
  breakpoints: {
    750: {
      slidesPerView: 3,
      slidesPerGroup: 3,
      spaceBetween: 50,
    },
    1024: {
      slidesPerView: 3,
      slidesPerGroup: 3,
      spaceBetween: 50,
    },

  },
});
{% endjavascript %}