
{{ 'section-collection-slider.css' | asset_url | stylesheet_tag }}

{% stylesheet %}

{% endstylesheet %}


<section id="collection-slider">  
  <div class="collection-swiper-container container-new">
    <div class="swiper-wrapper">
      <div class="swiper-slide">Slide 1</div>
      <div class="swiper-slide">Slide 1</div>
      <div class="swiper-slide">Slide 1</div>
    </div><!-- .collection-swiper-container -->
    <!-- If we need navigation buttons -->
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>
  </div>







  


  
</section>

{% javascript %}
const swiper = new Swiper('.collection-swiper-container', 
{
  // Optional parameters
  loop: true,
  slidesPerView: 1,
  slidesPerGroup: 1,
  spaceBetween: 50,
  loopFillGroupWithBlank: true,
  centeredSlides: true,
  
  navigation: {
    nextEl: ".swiper-button-next",
    prevEl: ".swiper-button-prev",
  },
  scrollbar: {
    el: ".swiper-scrollbar",
    hide: true,
  },

  breakpoints: {
    870: {
      slidesPerView: 2,
      slidesPerGroup: 2,
      spaceBetween: 10,
      centeredSlides: false,
    },
    1235: {
      slidesPerView: 3,
      slidesPerGroup: 3,
      spaceBetween: 50,
      centeredSlides: false,
    },

  },
});
{% endjavascript %}


{% schema %}
{
  "name": "t:sections.collection-slider.name",
  "class": "collection-slider",
  "settings": [
    
  ]
}
{% endschema %}