{{ 'section-lastest-products.css' | asset_url | stylesheet_tag }}

{% stylesheet %}
#lastest-products .titulo{
  font-family: var(--font-heading-family);
  color: rgb(var(--color-black));

}

{% endstylesheet %}


<section id="lastest-products">

  <h2 class="titulo{% if section.settings.title == blank %} title--no-heading{% endif %}">{{ section.settings.title | escape }}</h2>
  
  

  {% for product in collections.all.products %}
    ID = {{ product.id }}
    halde = {{ product.handle }}
  {% endfor %}

  <p>asdd asd  </p>

</section>

{% javascript %}
{% endjavascript %}

{% schema %}
{
  "name": "t:sections.lastest-products.name",
  "class": "lastest-products",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "t:sections.lastest-products.settings.title.label",
      "default": "Nueva colección"
    },
    {
      "type": "number",
      "id": "max_products",
      "label": "Products showed",
      "default": 6
    }
  ]
}
{% endschema %}