{{ 'section-seasonal-offers.css' | asset_url | stylesheet_tag }}

{% stylesheet %}
{% endstylesheet %}

<section id="sesional-offers">
  <h2 class="titulo-con-division{% if section.settings.title == blank %} title--no-heading{% endif %}">{{ section.settings.title | escape }}
    <div></div>
  </h2>
  
  <!-- Slider main container -->
  <div class="seasonal-swiper-container container-fluid">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
      <!-- Slides -->
      {% for product in collections.descuentos-de-temporada.products %}
        <div class="swiper-slide"> 
          {% render 'product-card', product_card_product: product, media_size: section.settings.image_ratio, show_secondary_image: section.settings.show_secondary_image, add_image_padding: section.settings.add_image_padding, show_vendor: section.settings.show_vendor, show_image_outline: section.settings.show_image_outline %}
        </div>
      {% endfor %}   
    </div>

  </div> 
  
</section>

<script src="{{ 'seasonal-offers.js' | asset_url }}" defer="defer"></script>

{% schema %}
{
  "name": "t:sections.seasonal-offers.name",
  "settings": [
    {
      "id": "title",
      "type": "text",
      "label": "t:sections.seasonal-offers.settings.title.label",
      "default": "Ofertas de temporada"
    },
    {
      "id": "show_compare_price",
      "type": "checkbox",
      "label": "t:sections.seasonal-offers.settings.show_compare_price.label",
      "default": false
    }
  ]
}
{% endschema %}