.product .product__info-wrapper .product__title {
  color: rgb(var(--color-dark-blue));
  font-weight: 300;
  font-size: 3rem;
}
.product .product__info-wrapper .no-js-hidden .price dl .price__sale dd s {
  color: rgb(var(--color-gray));
}
.product .product__info-wrapper .no-js-hidden .price dl .price__sale dd .price-item--sale {
  color: rgb(var(--color-dark-blue));
  font-weight: 800;
}
.product .product__info-wrapper .no-js-hidden .price .badge {
  background-color: rgb(var(--color-green)) !important;
  padding: 5px 15px;
  color: white;
}
.product .product__info-wrapper .no-js-hidden .price .price__badge-sold-out {
  background-color: rgb(var(--color-pink)) !important;
}
.product .product__info-wrapper #product-form-installment .swatches #swatch-option1 .swatch-single .swatch-navigable .swatch-view .swatch-view-item:hover .swatch-image {
  background-color: rgb(var(--color-dark-blue));
}
.product .product__info-wrapper #product-form-installment .swatches #swatch-option1 .swatch-single .swatch-navigable .swatch-view .swatch-view-item:hover .swatch-image .star-set-image {
  box-shadow: none !important;
  border: none !important;
}
.product .product__info-wrapper #product-form-installment .swatches #swatch-option1 .swatch-single .swatch-navigable .swatch-view .swatch-view-item .swatch-image {
  background-color: rgba(2, 2, 2, 0.1);
  height: 56px;
  width: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
}
.product .product__info-wrapper #product-form-installment .swatches #swatch-option1 .swatch-single .swatch-navigable .swatch-view .swatch-view-item .swatch-image div {
  box-shadow: none !important;
  height: 50px !important;
  width: 50px !important;
  min-height: 50px !important;
  min-width: 50px !important;
}
.product .product__info-wrapper #product-form-installment .swatches #swatch-option1 .swatch-single .swatch-navigable .swatch-view .swatch-view-item .swatch-selected {
  background-color: rgb(var(--color-dark-blue));
}
.product .product__info-wrapper .product-form .form .product-form__buttons .product-form__submit {
  border-radius: 20px 0;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
  color: rgb(var(--color-dark-blue));
  border: 2px solid rgb(var(--color-dark-blue));
  box-shadow: none;
  transition: all 0.3s ease-in-out;
}
.product .product__info-wrapper .product-form .form .product-form__buttons .product-form__submit:hover {
  color: rgb(var(--color-white));
  background-color: rgb(var(--color-dark-blue));
}
.product .product__info-wrapper .product-form .form .product-form__buttons .shopify-payment-button .shopify-payment-button__button {
  border-radius: 20px 0;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
  padding: 0.9rem 3rem 1.1rem !important;
  transition: all 0.3s ease-in-out;
  box-shadow: none !important;
  border: 2px solid rgb(var(--color-dark-blue));
}
.product .product__info-wrapper .product-form .form .product-form__buttons .shopify-payment-button .shopify-payment-button__button:hover {
  background-color: rgb(var(--color-white));
  color: rgb(var(--color-dark-blue));
}
#description-detail-product .header-info-product-container .tabs {
  display: flex;
  justify-content: space-between;
  padding: 0;
  border-bottom: 1px solid black;
  margin-bottom: 0;
  position: relative;
}
#description-detail-product .header-info-product-container .tabs li {
  list-style: none;
  padding: 0;
}
#description-detail-product .header-info-product-container .tabs li .tab-trigger {
  cursor: pointer;
}
#description-detail-product .header-info-product-container .tabs li a {
  text-decoration: none;
  color: black;
  margin-bottom: 10px;
  display: block;
  padding: 0 20px;
  transition: all 0.3s ease-in-out;
}
#description-detail-product .header-info-product-container .tabs li a:hover {
  color: rgba(var(--color-foreground), 0.55);
}
#description-detail-product .header-info-product-container .tabs .active-li-tab {
  border-bottom: 2px solid;
}
#description-detail-product .header-info-product-container .tabs .active-li-tab a {
  font-weight: 600;
}
#description-detail-product .info-product-container {
  padding: 20px;
}
#description-detail-product .info-product-container .tab-content {
  display: none;
}
#description-detail-product .info-product-container .tab-content.active-tab {
  display: block;
}
#description-detail-product .info-product-container .tab-content p {
  margin: 0 0 15px 0;
}
#description-detail-product .info-product-container .tab-content .tallas-US {
  margin-top: 20px;
}
#description-detail-product .info-product-container #lavado ul {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}
#description-detail-product .info-product-container #lavado ul li {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 15px;
  width: 250px;
}
#description-detail-product .info-product-container #lavado ul li img {
  width: 80px;
  height: auto;
}
#description-detail-product .info-product-container #lavado ul li p {
  margin-left: 10px;
}

