.product .product__info-wrapper .product__title {
  color: rgb(var(--color-dark-blue));
  font-weight: 300;
  font-size: 3rem;
}
.product .product__info-wrapper .no-js-hidden .price dl .price__sale dd s {
  color: rgb(var(--color-gray));
}
.product .product__info-wrapper .no-js-hidden .price dl .price__sale dd .price-item--sale {
  color: rgb(var(--color-dark-blue));
  font-weight: 800;
}
.product .product__info-wrapper .no-js-hidden .price .badge {
  background-color: rgb(var(--color-green)) !important;
}
.product .product__info-wrapper #product-form-installment .swatches #swatch-option1 .swatch-single .swatch-navigable .swatch-view .swatch-view-item:hover .swatch-image .star-set-image {
  box-shadow: none!important;
}
.product .product__info-wrapper #product-form-installment .swatches #swatch-option1 .swatch-single .swatch-navigable .swatch-view .swatch-view-item .swatch-image .star-set-image:after {
  content: "";
  background-color: red;
  height: 54px;
  width: 54px;
}
.product .product__info-wrapper #product-form-installment .swatches #swatch-option1 .swatch-single .swatch-navigable .swatch-view .swatch-view-item.swatch-selected .star-set-image {
  border: 2px solid red!important;
}
