.facets__form {
  gap: 0 5rem;
}
.facets__form .facets__wrapper {
  grid-column: 1;
  align-items: center;
  align-self: center;
}
.facets__form .facets__wrapper .facets__heading,
.facets__form .facets__wrapper .facets__summary {
  margin: 0;
}
.facets__form #column-num-wrapper {
  grid-row: 1;
  grid-column: 2;
  display: flex;
  align-items: center;
  align-self: center;
  height: 34px;
  margin-bottom: 35px;
}
.facets__form #column-num-wrapper h4,
.facets__form #column-num-wrapper .col-change-btn-wrapper {
  padding: 0 10px;
}
.facets__form #column-num-wrapper .col-change-btn-wrapper {
  display: flex;
  width: 80px;
  align-items: center;
  align-self: center;
  cursor: pointer;
}
.facets__form #column-num-wrapper .col-change-btn-wrapper img {
  height: 34px;
  position: absolute;
  background-color: rgb(var(--color-pink-dark));
}
.facets__form #column-num-wrapper .col-change-btn-wrapper.active img:nth-child(1) {
  display: block;
}
.facets__form #column-num-wrapper .col-change-btn-wrapper.active img:nth-child(2) {
  display: none;
}
.facets__form #column-num-wrapper .col-change-btn-wrapper:not(.active) img:nth-child(1) {
  display: none;
}
.facets__form #column-num-wrapper .col-change-btn-wrapper:not(.active) img:nth-child(2) {
  display: block;
}
.facets__form .collection-filters__item {
  grid-column: 3;
  align-items: center;
  margin: 0;
}
.facets__form .collection-filters__item .collection-filters__field {
  flex-wrap: wrap;
}
.facets__form #CollectionProductCountDesktop {
  grid-column-start: 3;
  grid-row-start: 3;
}
