.titulo-con-division {
  font-family: var(--font-heading-family);
  color: rgb(var(--color-black));
  display: flex;
  justify-content: center;
  position: relative;
  margin-bottom: 60px;
}
.titulo-con-division div {
  content: "";
  height: 2px;
  width: 73px;
  background: rgb(var(--color-black));
  position: absolute;
  bottom: -15px;
}
.blue-btn {
  border-radius: 15px 0px;
  background-color: rgb(var(--color-dark-blue));
  color: rgb(var(--color-white));
  width: 100%;
  margin: 0 auto 0 auto;
  padding: 5px 30px;
  cursor: pointer;
  font-weight: 600;
  border: rgb(var(--color-dark-blue)) 2px solid;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  width: fit-content;
}
.blue-btn:hover {
  background-color: rgb(var(--color-white));
  color: rgb(var(--color-dark-blue));
}
.side-nav-menu {
  width: 300px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  background-color: #fff;
}
.side-nav-menu ul {
  padding: 0;
  margin: 0;
}
.side-nav-menu ul li {
  border-top: 1px solid rgb(var(--color-gray));
}
.side-nav-menu ul li a {
  text-decoration: none;
  padding: 10px 20px;
  color: rgb(var(--color-dark-blue));
}
.side-nav-menu ul li .dropdown-trigger-nav {
  background-color: rgb(var(--color-dark-blue));
}
