.product .product__info-wrapper .product__title {
  color: rgb(var(--color-dark-blue));
  font-weight: 300;
  font-size: 3rem;
}
.product .product__info-wrapper .no-js-hidden .price dl .price__sale dd s {
  color: rgb(var(--color-gray));
}
