.collection-grid-section {
  margin-top: 25px;
}
.collection-grid-section .collection-filters .facets .facets__form {
  gap: 0;
  grid-template-columns: 33% 34% 33%;
  margin-bottom: 20px;
}
.collection-grid-section .collection-filters .facets .facets__form .facets__wrapper {
  grid-column: 1;
  display: flex;
  align-items: flex-end;
  align-self: center;
  margin-right: 20px;
}
.collection-grid-section .collection-filters .facets .facets__form .facets__wrapper .facets__heading,
.collection-grid-section .collection-filters .facets .facets__form .facets__wrapper .facets__summary {
  margin: 0;
}
.collection-grid-section .collection-filters .facets .facets__form .facets__wrapper .facets__disclosure {
  margin: 0;
  width: 100%;
}
.collection-grid-section .collection-filters .facets .facets__form .facets__wrapper .facets__disclosure summary div {
  display: block;
  text-align: right;
}
.collection-grid-section .collection-filters .facets .facets__form .facets__wrapper .facets__disclosure summary div h4 {
  font-family: SourceSansPro;
  font-size: 16px;
  padding: 0 10px;
  margin: 0;
}
.collection-grid-section .collection-filters .facets .facets__form .facets__wrapper .facets__disclosure .facets__display {
  right: -19rem;
  left: auto;
}
.collection-grid-section .collection-filters .facets .facets__form #column-num-wrapper {
  grid-row: 1;
  grid-column: 2;
  display: none;
  align-items: center;
  align-self: center;
  justify-content: center;
  height: 34px;
  border-right: 1px solid rgba(2, 2, 2, 0.1);
  border-left: 1px solid rgba(2, 2, 2, 0.1);
}
@media screen and (min-width: 735px) {
  .collection-grid-section .collection-filters .facets .facets__form #column-num-wrapper {
    display: flex;
  }
}
.collection-grid-section .collection-filters .facets .facets__form #column-num-wrapper h4,
.collection-grid-section .collection-filters .facets .facets__form #column-num-wrapper .col-change-btn-wrapper {
  padding: 0 10px;
  margin: 0;
  font-family: SourceSansPro;
  font-size: 16px;
}
.collection-grid-section .collection-filters .facets .facets__form #column-num-wrapper .col-change-btn-wrapper {
  display: flex;
  width: 65px;
  align-items: center;
  align-self: center;
  cursor: pointer;
}
.collection-grid-section .collection-filters .facets .facets__form #column-num-wrapper .col-change-btn-wrapper img {
  height: 34px;
  position: absolute;
  background-color: rgb(var(--color-pink-dark));
}
.collection-grid-section .collection-filters .facets .facets__form #column-num-wrapper .col-change-btn-wrapper.active img:nth-child(1) {
  display: block;
}
.collection-grid-section .collection-filters .facets .facets__form #column-num-wrapper .col-change-btn-wrapper.active img:nth-child(2) {
  display: none;
}
.collection-grid-section .collection-filters .facets .facets__form #column-num-wrapper .col-change-btn-wrapper:not(.active) img:nth-child(1) {
  display: none;
}
.collection-grid-section .collection-filters .facets .facets__form #column-num-wrapper .col-change-btn-wrapper:not(.active) img:nth-child(2) {
  display: block;
}
.collection-grid-section .collection-filters .facets .facets__form .collection-filters__item {
  grid-column: 3;
  align-items: center;
  margin: 0 0 0 20px;
}
.collection-grid-section .collection-filters .facets .facets__form .collection-filters__item .collection-filters__field {
  flex-wrap: wrap;
  justify-content: flex-start;
}
.collection-grid-section .collection-filters .facets .facets__form .collection-filters__item .collection-filters__field label {
  font-family: SourceSansPro;
  font-size: 16px;
  margin-right: 10px;
}
.collection-grid-section .collection-filters .facets .facets__form .collection-filters__item .collection-filters__field .select select {
  font-family: SourceSansPro;
  font-size: 16px;
  padding: 0;
}
.collection-grid-section .collection-filters .facets .facets__form .collection-filters__item .collection-filters__field .select select:focus-visible {
  outline: none;
}
.collection-grid-section .collection-filters .facets .facets__form #CollectionProductCountDesktop {
  grid-column-start: 3;
  grid-row-start: 3;
}
.collection-grid-section .collection-filters .mobile-facets__wrapper .mobile-facets__disclosure .mobile-facets__open-wrapper svg {
  filter: grayscale(1);
}
.collection-grid-section .collection-filters .mobile-facets__wrapper .mobile-facets__disclosure .mobile-facets__open-wrapper span {
  color: black !important;
  transition: all 0.3s ea;
}
.collection-grid-section .collection-filters .mobile-facets__wrapper .mobile-facets__disclosure .mobile-facets__open-wrapper span:hover {
  color: rgba(0, 0, 0, 0.6);
}
#CollectionFiltersFormMobile .mobile-facets__inner .mobile-facets__main .mobile-facets__footer .mobile-facets__clear-wrapper a {
  color: black !important;
  transition: all 0.3s ea;
}
#CollectionFiltersFormMobile .mobile-facets__inner .mobile-facets__main .mobile-facets__footer .mobile-facets__clear-wrapper a:hover {
  color: rgba(0, 0, 0, 0.6);
}
