.titulo-con-division {
  font-family: var(--font-heading-family);
  color: rgb(var(--color-black));
  display: flex;
  justify-content: center;
  position: relative;
  font-size: 24px;
  margin: 20px 0 60px 0;
}
.titulo-con-division:after {
  content: "";
  height: 2px;
  width: 73px;
  background: rgb(var(--color-black));
  position: absolute;
  bottom: -15px;
}
.blue-btn {
  border-radius: 15px 0px !important;
  background-color: rgb(var(--color-dark-blue)) !important;
  color: rgb(var(--color-white)) !important;
  margin: 0 auto 0 auto;
  padding: 5px 30px !important;
  cursor: pointer !important;
  font-weight: 600 !important;
  border: rgb(var(--color-dark-blue)) 2px solid !important;
  transition: all 0.3s ease-in-out !important;
  text-decoration: none !important;
  text-transform: uppercase !important;
  display: block !important;
  width: fit-content;
  box-shadow: none !important;
}
.blue-btn:hover {
  background-color: rgb(var(--color-white)) !important;
  color: rgb(var(--color-dark-blue)) !important;
}
.pink-btn {
  border-radius: 15px 0px !important;
  background-color: rgb(var(--color-pink)) !important;
  color: rgb(var(--color-white)) !important;
  margin: 0 auto 0 auto;
  padding: 5px 30px !important;
  cursor: pointer !important;
  font-weight: 600 !important;
  border: rgb(var(--color-pink)) 2px solid !important;
  transition: all 0.3s ease-in-out !important;
  text-decoration: none !important;
  text-transform: uppercase !important;
  display: block !important;
  width: fit-content;
  box-shadow: none !important;
}
.pink-btn:hover {
  background-color: rgb(var(--color-white)) !important;
  color: rgb(var(--color-pink)) !important;
}
.white-btn {
  border-radius: 15px 0px;
  background-color: rgb(var(--color-white));
  color: rgb(var(--color-dark-blue));
  margin: 0 auto 0 auto;
  padding: 5px 30px;
  cursor: pointer;
  font-weight: 600;
  border: rgb(var(--color-white)) 2px solid;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  width: fit-content;
}
.white-btn:hover {
  background-color: rgb(var(--color-dark-blue));
  color: rgb(var(--color-white));
}
#customer_login .form__message:focus-visible,
#create_customer .form__message:focus-visible {
  outline: none;
  box-shadow: none;
}
#customer_login a,
#create_customer a {
  color: black;
  text-decoration: underline;
}
#customer_login a:hover,
#create_customer a:hover {
  color: rgba(0, 0, 0, 0.6);
}
#customer_login .blue-btn,
#create_customer .blue-btn {
  margin: 4rem auto;
}
.account h2 {
  margin-bottom: 50px !important;
}
.account a {
  color: black;
  text-decoration: underline;
}
.account a:hover {
  color: rgba(0, 0, 0, 0.6);
}
.account .customer-adress-info p {
  color: rgb(var(--color-dark-blue));
  font-size: 14px;
}
.account .customer-adress-info p::first-line {
  font-weight: bold;
}
.addresses a {
  color: rgb(var(--color-dark-blue));
  transition: all 0.3s ease-in-out;
  color: black;
  text-decoration: underline;
}
.addresses a:hover {
  color: rgba(0, 0, 0, 0.6);
}
.addresses .blue-btn {
  margin: 4rem auto;
}
.addresses #AddressNewHeading {
  text-align: center;
}
.addresses #address_form_new .buttons-adress {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}
.addresses #address_form_new .buttons-adress .blue-btn,
.addresses #address_form_new .buttons-adress .pink-btn {
  width: fit-content !important;
  margin: 5px 10px 5px 0;
}
.addresses .button-list li .button-edit {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.addresses .button-list li .button-edit .pink-btn,
.addresses .button-list li .button-edit .blue-btn {
  width: fit-content !important;
  margin: 5px 10px 5px 0;
}
.addresses .button-list .edit-title {
  text-align: center;
}
.title-wrapper-with-link a {
  color: black;
  text-decoration: underline;
}
.title-wrapper-with-link a:hover {
  color: rgba(0, 0, 0, 0.6);
}
.cart__contents .cart__items .js-contents .cart-items tbody .cart-item .cart-item__totals #Remove-1 a {
  color: rgb(var(--color-dark-blue));
}
.cart__footer-wrapper #main-cart-footer .cart__footer .cart__blocks .cart__ctas .cart__checkout-button {
  border-radius: 15px 0px !important;
  background-color: rgb(var(--color-dark-blue)) !important;
  color: rgb(var(--color-white)) !important;
  margin: 0 auto 0 auto;
  padding: 5px 30px !important;
  cursor: pointer !important;
  font-weight: 600 !important;
  border: rgb(var(--color-dark-blue)) 2px solid !important;
  transition: all 0.3s ease-in-out !important;
  text-decoration: none !important;
  text-transform: uppercase !important;
  display: block !important;
  width: 100%;
  box-shadow: none !important;
  display: flex !important;
  align-items: center;
}
.cart__footer-wrapper #main-cart-footer .cart__footer .cart__blocks .cart__ctas .cart__checkout-button:hover {
  background-color: rgb(var(--color-white)) !important;
  color: rgb(var(--color-dark-blue)) !important;
}
.is-empty .cart__warnings .blue-btn {
  width: fit-content !important;
  display: flex !important;
  align-items: center;
}
.is-empty .cart__warnings .cart__login-paragraph {
  margin-top: 20px;
}
.is-empty .cart__warnings .cart__login-paragraph a {
  color: black;
  text-decoration: underline;
}
.is-empty .cart__warnings .cart__login-paragraph a:hover {
  color: rgba(0, 0, 0, 0.6);
}
.collection .button {
  border-radius: 15px 0px !important;
  background-color: rgb(var(--color-dark-blue)) !important;
  color: rgb(var(--color-white)) !important;
  margin: 0 auto 0 auto;
  padding: 5px 30px !important;
  cursor: pointer !important;
  font-weight: 600 !important;
  border: rgb(var(--color-dark-blue)) 2px solid !important;
  transition: all 0.3s ease-in-out !important;
  text-decoration: none !important;
  text-transform: uppercase !important;
  display: block !important;
  width: fit-content;
  box-shadow: none !important;
  display: flex !important;
  align-items: center;
}
.collection .button:hover {
  background-color: rgb(var(--color-white)) !important;
  color: rgb(var(--color-dark-blue)) !important;
}
.shopify-policy__container {
  margin: 0 auto 80px auto;
  max-width: 1280px;
  width: 90%;
}
@media only screen and (min-width: 601px) {
  .shopify-policy__container {
    width: 85%;
  }
}
@media only screen and (min-width: 993px) {
  .shopify-policy__container {
    width: 90%;
  }
}
@media only screen and (min-width: 1200px) {
  .shopify-policy__container {
    width: 70%;
  }
}
.pecentual-discount {
  background-color: red!important;
}
