footer .footer-logo img {
  width: 100%;
}
footer .footer-links .footer-title {
  color: white;
}
footer .footer-links ul {
  padding: 0;
}
footer .footer-links ul li {
  list-style: none;
}
footer .footer-links ul li a {
  color: white;
  text-decoration: none;
}
footer .footer-legal {
  color: white;
}
footer .footer-redes {
  color: white;
}
