#custom-notification {
  position: absolute;
  top: 20px;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 280px;
  height: 200px;
  background: white;
}
#custom-notification #cerrar-notificacion {
  width: 50px;
  height: 50px;
}
#custom-notification #titulo-notificacion {
  font-family: montserrat;
  font-size: 20px;
  color: rgb(var(--color-dark-blue));
  margin-bottom: 10px;
}
#custom-notification #descripcion-notificacion {
  font-family: montserrat;
  font-size: 12px;
  color: rgb(var(--color-dark-blue));
  padding: 20px 20px;
}
