footer .footer-title {
  color: white;
}
footer .footer-logo img {
  width: 100%;
}
footer .footer-links {
  color: white;
}
footer .footer-legal {
  color: white;
}
footer .footer-redes {
  color: white;
}
