.menu-passaro {
  width: 110px;
  background: 0 0;
  text-align: right;
  color: rgb(var(--color-black));
  text-transform: capitalize;
  letter-spacing: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.menu-passaro .hamburger {
  position: relative;
  top: 0;
  width: 30px;
  height: 20px;
}
.menu-passaro .hamburger .hamburger-bar {
  position: absolute;
  width: 30px;
  height: 3px;
  background: rgb(var(--color-black));
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.menu-passaro .hamburger .hamburger-bar#bar-1 {
  right: 0;
  width: 15px;
  top: 0;
}
.menu-passaro .hamburger .hamburger-bar#bar-2 {
  top: 7.5px;
}
.menu-passaro .hamburger .hamburger-bar#bar-3 {
  top: 15px;
  left: 0;
  width: 15px;
}
.menu-passaro span {
  margin-left: 10px;
}
.menu-passaro:hover .hamburger #bar-1,
.menu-passaro:hover .hamburger #bar-3 {
  width: 30px;
}
