#shopify-section-header {
  z-index: 3;
  width: 100%;
  position: relative;
}
#shopify-section-header.fixed {
  position: fixed;
  top: 0;
  left: 0;
}
.menu-passaro {
  width: 110px;
  background: 0 0;
  text-align: right;
  color: rgb(var(--color-black));
  text-transform: capitalize;
  letter-spacing: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.menu-passaro .hamburger {
  position: relative;
  top: 0;
  width: 30px;
  height: 20px;
}
.menu-passaro .hamburger .hamburger-bar {
  position: absolute;
  width: 30px;
  height: 3px;
  background: rgb(var(--color-black));
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.menu-passaro .hamburger .hamburger-bar#bar-1 {
  right: 0;
  width: 15px;
  top: 0;
}
.menu-passaro .hamburger .hamburger-bar#bar-2 {
  top: 7.5px;
}
.menu-passaro .hamburger .hamburger-bar#bar-3 {
  top: 15px;
  left: 0;
  width: 15px;
}
.menu-passaro span {
  margin-left: 10px;
}
.menu-passaro:hover .hamburger #bar-1,
.menu-passaro:hover .hamburger #bar-3 {
  width: 30px;
}
.shopify-section {
  z-index: 3!important;
}
.header-wrapper {
  background-color: rgb(var(--color-white));
  width: 100%;
}
.header-wrapper .header__heading {
  justify-content: unset;
  grid-area: auto;
  justify-self: center;
}
.side-nav-menu {
  width: 300px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  background-color: #fff;
  transition: all 0.5s ease;
  z-index: 8001;
}
.side-nav-menu ul {
  padding: 0;
  margin: 0;
}
.side-nav-menu ul li {
  border-bottom: 1px solid rgba(2, 2, 2, 0.1);
}
.side-nav-menu ul li a {
  text-decoration: none;
  padding: 10px 20px;
  display: block;
  color: rgb(var(--color-dark-blue));
  transition: all 0.3s ease-in-out;
}
.side-nav-menu ul li a .dropdown-indicator {
  float: right;
  transition: all 0.2s ease-in-out;
  font-size: 20px;
}
.side-nav-menu ul li a .dropdown-indicator.opened {
  transform: rotate(180deg);
}
.side-nav-menu ul li a span {
  font-size: 16px;
  text-decoration: none;
}
.side-nav-menu ul li a:hover {
  text-decoration: none;
  background-color: rgb(var(--color-dark-blue));
  color: white;
}
.side-nav-menu ul li a:hover span {
  text-decoration: none;
}
.side-nav-menu ul li .dropdown-list li {
  background-color: rgb(var(--color-dark-blue));
  border-bottom: 1px rgb(var(--color-white)) solid;
}
.side-nav-menu ul li .dropdown-list li a {
  color: rgb(var(--color-white)) !important;
  padding: 4px 0 4px 35px;
}
.side-nav-menu.oculto {
  left: -400px;
}
#menu-latera-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgb(var(--color-black), 0.5);
  opacity: 0;
  transition: all 0.5s ease;
  pointer-events: none;
  z-index: 8000;
}
#menu-latera-overlay.opened {
  opacity: 1;
  pointer-events: inherit;
}
.stiky-menu {
  position: fixed;
  width: 100%;
  top: 0;
  background-color: #fff;
  padding: 5px 5rem;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}
