footer {
  padding: 30px 0 0 0;
}
footer .flex-wrap {
  display: flex;
  flex-wrap: wrap;
}
footer .footer-logo {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
footer .newsletter-form__message {
  color: white;
}
footer .footer-links,
footer .footer-legal,
footer .footer-redes {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
@media (min-width: 768px) {
  footer .footer-links,
  footer .footer-legal,
  footer .footer-redes {
    text-align: left;
    display: block;
  }
}
footer .footer-links .footer-title,
footer .footer-legal .footer-title,
footer .footer-redes .footer-title {
  color: white;
  margin: 20px 0;
}
footer .footer-links ul,
footer .footer-legal ul,
footer .footer-redes ul {
  padding: 0;
  margin: 0 0 20px 0;
}
footer .footer-links ul li,
footer .footer-legal ul li,
footer .footer-redes ul li {
  list-style: none;
  line-height: 1.5;
}
footer .footer-links ul li a,
footer .footer-legal ul li a,
footer .footer-redes ul li a {
  color: white;
  text-decoration: none;
  font-size: 12px;
  transition: all 0.3s ease-in-out;
  padding: 10px 0px 10px 0;
}
footer .footer-links ul li a:hover,
footer .footer-legal ul li a:hover,
footer .footer-redes ul li a:hover {
  color: rgba(255, 255, 255, 0.6);
}
footer .footer-links .footer__list-social .list-social__item a,
footer .footer-legal .footer__list-social .list-social__item a,
footer .footer-redes .footer__list-social .list-social__item a {
  padding: 0 1.3rem !important;
}
footer .divider {
  height: 1px;
  background-color: rgba(255, 255, 255, 0.6);
  width: 100%;
  margin-top: 50px;
}
footer .footer-copyright {
  padding: 0 20px;
}
footer .footer-copyright p {
  text-align: center;
  margin: 0;
  padding: 10px 0;
  font-size: 12px;
}
footer .footer-copyright p a {
  color: white;
  transition: all 0.3s ease-in-out;
}
footer .footer-copyright p a:hover {
  color: rgba(255, 255, 255, 0.6);
}
