#sesional-offers {
  overflow: hidden;
  margin: 80px 0;
}
#sesional-offers .seasonal-swiper-container {
  width: 95%;
  height: 350px;
  margin-bottom: 100px;
}
#sesional-offers .seasonal-swiper-container .swiper-wrapper .swiper-slide {
  position: relative;
}
#sesional-offers .seasonal-swiper-container .swiper-wrapper .swiper-slide .product-offer-wrapper {
  text-decoration: none;
}
#sesional-offers .seasonal-swiper-container .swiper-wrapper .swiper-slide .product-offer-wrapper .image-wrapper {
  position: relative;
  height: 100%;
}
#sesional-offers .seasonal-swiper-container .swiper-wrapper .swiper-slide .product-offer-wrapper .image-wrapper .product-img {
  position: absolute;
  top: 0;
  width: 100%;
}
#sesional-offers .seasonal-swiper-container .swiper-wrapper .swiper-slide .product-offer-wrapper .image-wrapper .card__badge {
  position: absolute;
  top: 0;
  left: 5px;
}
#sesional-offers .seasonal-swiper-container .swiper-wrapper .swiper-slide .product-offer-wrapper .image-wrapper .card__badge .badge {
  background-color: rgb(var(--color-green)) !important;
  font-weight: 800;
}
#sesional-offers .seasonal-swiper-container .swiper-wrapper .swiper-slide .product-offer-wrapper .image-wrapper .add-to-cart-form-btn {
  position: absolute;
  bottom: 20px;
  right: 15px;
}
#sesional-offers .seasonal-swiper-container .swiper-wrapper .swiper-slide .product-offer-wrapper .image-wrapper .add-to-cart-form-btn .agregar {
  border-radius: 10px 0;
  background: rgb(var(--color-dark-blue));
  width: 20px;
  color: rgb(var(--color-white));
  font-size: 25px;
  height: 25px;
  font-weight: 300;
  line-height: 1;
  border: none!important;
}
#sesional-offers .seasonal-swiper-container .swiper-wrapper .swiper-slide .product-offer-wrapper .info-wrapper {
  text-align: center;
}
#sesional-offers .seasonal-swiper-container .swiper-wrapper .swiper-slide .product-offer-wrapper .info-wrapper .product-title {
  font-size: 25px;
  color: rgb(var(--color-black));
  font-family: var(--font-heading-family);
  line-height: normal;
  text-decoration: none;
  margin: 0;
  transition: all 0.3s ease-in-out;
}
#sesional-offers .seasonal-swiper-container .swiper-wrapper .swiper-slide .product-offer-wrapper .info-wrapper .product-title:hover {
  color: rgb(var(--color-green));
}
#sesional-offers .seasonal-swiper-container .swiper-wrapper .swiper-slide .product-offer-wrapper .info-wrapper .price-wrapper .product-price {
  font-size: 15px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  font-family: "montserrat";
  color: rgb(var(--color-dark-blue));
}
#sesional-offers .seasonal-swiper-container .swiper-wrapper .swiper-slide .product-offer-wrapper .info-wrapper .price-wrapper .product-compare-price {
  text-decoration: line-through;
  font-size: 15px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  font-family: "montserrat";
  color: rgb(var(--color-gray));
}
