#new-collection .titulo-con-divicion {
  font-family: var(--font-heading-family);
  color: rgb(var(--color-black));
  display: flex;
  justify-content: center;
  position: relative;
  margin-bottom: 60px;
}
#new-collection .titulo-con-divicion div {
  content: "";
  height: 2px;
  width: 73px;
  background: rgb(var(--color-gray));
  position: absolute;
  bottom: -15px;
}
#products-wrapper {
  margin: 0 auto;
  text-align: center;
}
#products-wrapper .product-wrapper {
  margin-bottom: 40px;
}
#products-wrapper .product-wrapper .img-wrapper {
  position: relative;
}
#products-wrapper .product-wrapper .img-wrapper .product-img {
  width: 100%;
}
#products-wrapper .product-wrapper .img-wrapper .agregar {
  position: absolute;
  border-radius: 10px 0;
  background: rgb(var(--color-dark-blue));
  width: 30px;
  color: #fff;
  font-size: 25px;
  height: 30px;
  font-weight: 700;
  line-height: 1;
  bottom: 20px;
  right: 15px;
  border: none !important;
}
#products-wrapper .product-wrapper .product-title {
  font-size: 28px;
  color: rgb(var(--color-dark-blue));
}
#products-wrapper .product-wrapper .product-price {
  font-weight: bold;
  font-size: 20px;
  color: rgb(var(--color-dark-blue));
  font-family: montserrat;
}
#btn-ver-catalogo {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(var(--color-dark-blue));
  width: 300px;
  height: 50px;
  margin: 70px auto;
  color: rgb(var(--color-white));
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 20px 0;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 4px;
  font-family: montserrat;
}
