#collection-slider {
  position: relative;
  margin: 40px 0px;
}
#collection-slider .collection-swiper-container {
  height: 600px;
  overflow: hidden;
  /*.mas-abajito{
      bottom: -30px;
    }*/
}
#collection-slider .collection-swiper-container .swiper-slide {
  position: relative;
}
#collection-slider .collection-swiper-container .swiper-slide img {
  position: absolute;
  margin: 0px 15px;
}
#collection-slider .collection-swiper-container .swiper-slide .title-container {
  position: absolute;
  z-index: 2;
  top: 420px;
  left: 25px;
  height: 80px;
  width: 200px;
  background: white;
  padding: 5px 20px 0px 20px;
}
#collection-slider .collection-swiper-container .swiper-slide .title-container .titulo {
  font-family: var(--font-heading-family);
  font-size: 30px;
  color: var(--color-gray);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px;
}
#collection-slider .collection-swiper-container .swiper-slide .title-container a {
  font-family: var(--font-body-family);
  font-size: 10px;
  top: -15px;
  position: relative;
  color: var(--color-gray-light);
}
#collection-slider .swiper-button-next,
#collection-slider .swiper-button-prev {
  color: rgb(var(--color-gray));
}
