.promo-wrapper {
  position: relative;
  padding: 100px 20px;
  min-height: 100px;
}
.promo-wrapper .promo-img-wrapper {
  position: absolute;
  height: 100%;
}
.promo-wrapper .promo-img-wrapper .placeholder-svg {
  height: 100%;
}
.promo-wrapper .promo-text-wrapper {
  position: absolute;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
