#collection-slider {
  position: relative;
  margin: 40px 0px;
  z-index: 1;
}
#collection-slider .collection-swiper-container {
  padding-bottom: 30px;
  overflow: hidden;
  /*.mas-abajito{
      bottom: -30px;
    }*/
}
#collection-slider .collection-swiper-container .swiper-slide-active {
  transform: translateY(0px) !important;
  transition: all 0.5s ease-in-out;
}
#collection-slider .collection-swiper-container .swiper-slide {
  position: relative;
  transform: translateY(30px);
  transition: all 0.5s ease-in-out;
}
#collection-slider .collection-swiper-container .swiper-slide img {
  width: 100%;
}
#collection-slider .collection-swiper-container .swiper-slide .title-container {
  position: absolute;
  bottom: 70px;
  left: 25px;
  max-width: 180px;
  width: 60%;
  background-color: #fff;
  padding: 10px 20px;
  transition: all 0.3s ease-in-out;
}
@media (min-width: 768px) {
  #collection-slider .collection-swiper-container .swiper-slide .title-container {
    font-size: 30px;
  }
}
#collection-slider .collection-swiper-container .swiper-slide .title-container .titulo {
  font-family: var(--font-heading-family);
  font-size: 25px;
  color: var(--color-gray);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0 0 10px 0;
  line-height: 1;
  color: rgb(var(--color-black));
}
@media (min-width: 768px) {
  #collection-slider .collection-swiper-container .swiper-slide .title-container .titulo {
    font-size: 30px;
  }
}
#collection-slider .collection-swiper-container .swiper-slide .title-container .comprar-coleccion {
  font-family: var(--font-body-family);
  font-size: 10px;
  position: relative;
  color: rgb(var(--color-black));
  line-height: 1.5;
  width: fit-content;
  border-bottom: 1px solid rgb(var(--color-black));
  transition: all 0.3s ease-in-out;
}
#collection-slider .collection-swiper-container .swiper-slide:hover .title-container {
  background-color: rgba(255, 255, 255, 0.8);
}
#collection-slider .collection-swiper-container .swiper-slide:hover .title-container .comprar-coleccion {
  letter-spacing: 2px;
}
#collection-slider .collection-swiper-container .swiper-pagination {
  bottom: -30px !important;
}
#collection-slider .swiper-button-next,
#collection-slider .swiper-button-prev {
  color: rgb(var(--color-gray));
}
#main-banner-btn {
  position: absolute;
  bottom: 0;
}
#main-banner-btn .banner__buttons {
  margin: 0 auto;
  width: fit-content;
}
#main-banner-btn .banner__buttons a {
  margin: 0!important;
}
