#collection-slider {
  position: relative;
  margin: 40px 0px;
}
#collection-slider .collection-swiper-container {
  height: auto;
  /*.mas-abajito{
      bottom: -30px;
    }*/
}
#collection-slider .collection-swiper-container .swiper-slide-active {
  transform: translateY(0px) !important;
  transition: all 0.5s ease-in-out;
}
#collection-slider .collection-swiper-container .swiper-slide {
  position: relative;
  transform: translateY(30px);
  transition: all 0.5s ease-in-out;
}
#collection-slider .collection-swiper-container .swiper-slide img {
  width: 100%;
}
#collection-slider .collection-swiper-container .swiper-slide .title-container {
  position: absolute;
  bottom: 70px;
  left: 25px;
  width: 150px;
  background: #fff;
  padding: 10px 20px;
}
#collection-slider .collection-swiper-container .swiper-slide .title-container .titulo {
  font-family: var(--font-heading-family);
  font-size: 30px;
  color: var(--color-gray);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0 0 10px 0;
  line-height: 1;
}
#collection-slider .collection-swiper-container .swiper-slide .title-container .comprar-coleccion {
  font-family: var(--font-body-family);
  font-size: 10px;
  position: relative;
  color: var(--color-gray-light);
  line-height: 1;
}
#collection-slider .swiper-button-next,
#collection-slider .swiper-button-prev {
  color: rgb(var(--color-gray));
}
