#sesional-offers .titulo-con-division {
  font-family: var(--font-heading-family);
  color: rgb(var(--color-gray));
  display: flex;
  justify-content: center;
  position: relative;
  margin-bottom: 60px;
  font-family: "vanitas-bold";
}
#sesional-offers .titulo-con-division div {
  content: "";
  height: 2px;
  width: 73px;
  background: rgb(var(--color-gray));
  position: absolute;
  bottom: -15px;
}
#sesional-offers .seasonal-swiper-container {
  width: 95%;
  height: 350px;
  margin-bottom: 100px;
}
#sesional-offers .seasonal-swiper-container .swiper-wrapper .swiper-slide {
  position: relative;
}
#sesional-offers .seasonal-swiper-container .swiper-wrapper .swiper-slide .image-wrapper {
  position: relative;
  height: 100%;
}
#sesional-offers .seasonal-swiper-container .swiper-wrapper .swiper-slide .image-wrapper .product-img {
  position: absolute;
  top: 0;
  width: 100%;
}
#sesional-offers .seasonal-swiper-container .swiper-wrapper .swiper-slide .image-wrapper .card__badge {
  position: absolute;
  top: 0px;
  left: 5px;
}
#sesional-offers .seasonal-swiper-container .swiper-wrapper .swiper-slide .image-wrapper .add-to-cart-form-btn {
  position: absolute;
  bottom: 20px;
  right: 15px;
}
#sesional-offers .seasonal-swiper-container .swiper-wrapper .swiper-slide .image-wrapper .add-to-cart-form-btn .agregar {
  border-radius: 10px 0;
  background: rgb(var(--color-dark-blue));
  width: 20px;
  color: rgb(var(--color-white));
  font-size: 25px;
  height: 25px;
  font-weight: 300;
  line-height: 1;
  border: none!important;
}
#sesional-offers .seasonal-swiper-container .swiper-wrapper .swiper-slide .info-wrapper {
  text-align: center;
}
#sesional-offers .seasonal-swiper-container .swiper-wrapper .swiper-slide .info-wrapper .product-title {
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  font-family: "vanitas-bold";
}
#sesional-offers .seasonal-swiper-container .swiper-wrapper .swiper-slide .info-wrapper .price-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
#sesional-offers .seasonal-swiper-container .swiper-wrapper .swiper-slide .info-wrapper .price-wrapper .product-price {
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  font-family: "montserat-regular";
}
#sesional-offers .seasonal-swiper-container .swiper-wrapper .swiper-slide .info-wrapper .price-wrapper .product-compare-price {
  text-decoration: line-through;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  font-family: "montserat-regular";
}
