#new-collection .titulo-con-divicion {
  font-family: var(--font-heading-family);
  color: rgb(var(--color-black));
  display: flex;
  justify-content: center;
  position: relative;
  margin-bottom: 60px;
}
#new-collection .titulo-con-divicion div {
  content: "";
  height: 2px;
  width: 73px;
  background: rgb(var(--color-gray));
  position: absolute;
  bottom: -15px;
}
#products-wrapper .product-wrapper {
  max-width: 400px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 0 0 40px 0 !important;
}
#products-wrapper .product-wrapper .product-img {
  width: 100%;
}
#products-wrapper .product-wrapper .product-title {
  font-size: 28px;
}
#products-wrapper .product-wrapper .product-price {
  font-weight: bold;
  font-size: 20px;
}
