#lunes-multicolor .promo-wrapper {
  position: relative;
  background-image: url(https://cdn.shopify.com/s/files/1/0592/9287/6983/files/banner-promo.jpg?v=1629925616);
  background-size: cover;
}
#lunes-multicolor .promo-wrapper .promo-img-wrapper img {
  width: 100%;
}
#lunes-multicolor .promo-wrapper .promo-img-wrapper svg {
  width: 100%;
}
#lunes-multicolor .promo-wrapper .promo-text-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 80px 20px;
}
#lunes-multicolor .promo-wrapper .promo-text-wrapper .promo-theme {
  color: rgba(255, 255, 255, 0.6);
  text-transform: uppercase;
  font-size: 14px;
  font-family: montserrat;
  line-height: normal;
}
#lunes-multicolor .promo-wrapper .promo-text-wrapper .promo-title {
  font-size: 40px;
  font-family: var(--font-heading-family);
  text-transform: uppercase;
  color: rgb(var(--color-white));
  line-height: normal;
  margin-bottom: 15px;
}
#lunes-multicolor .promo-wrapper .promo-text-wrapper .promo-text {
  width: 100%;
  max-width: 650px;
  font-size: 12px;
  font-family: montserrat;
  color: rgb(var(--color-white));
  margin-bottom: 40px;
}
