#call-to-action-1 .promo-wrapper {
  position: relative;
  background-color: black;
}
#call-to-action-1 .promo-wrapper .promo-img-wrapper img {
  width: 100%;
}
#call-to-action-1 .promo-wrapper .promo-img-wrapper svg {
  width: 100%;
}
#call-to-action-1 .promo-wrapper .promo-text-wrapper {
  position: absolute;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  color: rgb(var(--color-white));
}
#call-to-action-1 .promo-wrapper .promo-text-wrapper .promo-theme {
  color: red;
  text-transform: uppercase;
  font-size: 14px;
  font-family: montserrat;
}
#call-to-action-1 .promo-wrapper .promo-text-wrapper .promo-title {
  font-size: 25px;
  font-family: var(--font-heading-family);
  text-transform: uppercase;
  background: rgb(var(--color-white));
}
#call-to-action-1 .promo-wrapper .promo-text-wrapper a {
  background: rgb(var(--color-white));
  padding: 12px 50px;
  margin: 20px auto;
  color: rgb(var(--color-dark-blue));
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 20px 0;
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 4px;
  font-family: montserrat;
}
